@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
body{
    background-color: black;
    font-family: 'Oswald', sans-serif !important;
}
.main {
  margin: auto auto;
  width: 250px;
}
.App {
  display: flex;
  justify-content: center;
  align-items: canter;
  
  height: 90vh;
}
.main input {
  width: 100%;
  height: 5vh;
  text-align: right;
  color: white;
  background-color: black;

}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
input[type="text"] {
  height: 75px;
  width: 98%;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  
}
button{
    border: none;
    margin: 5px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    font-weight: 500;
    background-color: rgb(80, 79, 79);
}
.clear {
  grid-column: 1/3;
border-radius: 25px;
}
.cut-btn{
    background-color: rgb(211, 211, 219);
    color: black;
}
.zero {
  grid-column: 1/3;
  border-radius: 25px;
}

.operation-btn{
    background-color: rgb(230, 154, 15);
}